# Root
.DS_Store
*.log
*.env
.env.*
!.env.example

# Dependencies
node_modules/

# Build outputs
# Expo
.expo/

# Scratch and Test files
backend/src/config/dummy_data.sql
backend/test*.ts
backend/test*.js
out/
build/


# Uploads
backend/uploads/

# IDE
.vscode/
.idea/
*.swp
